h1 a {
    color: rgb(5, 133, 252);
    font-family: 'Montserrat', sans-serif;
}



.page-header {
    background-color: rgb(5, 133, 252);
    margin-top: 0;
    padding: 20px 20px 20px 20px;
}

.login-bottone{
    text-align: right;
    font-size:20px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
    text-align: center;
}

.content {
    
    width:70%;
    background-color: #ffffff;
}

h1, h2, h3, h4 {
    font-family: 'Montserrat', sans-serif;
}


.post-form textarea, .post-form input {
    width: 100%;
}

.post {
    margin-bottom: 70px;
    text-align: center
}
.row h1{
    color:#000;
    text-align: center;
    border-bottom: solid 1px;
}
.post h1 a, .post h1 a:visited {
    color:  rgb(5, 133, 252);
}

.post-title{
    font-size:30px;
    
}

.top-menu a {
    color:#000;
}

body{
    background-image: url('static/images/bg-image.jpg');
}